@import url("~/public/assets/css/remixicon.css");
@import url("~/public/assets/css/lib/bootstrap.min.css");
@import url("~/public/assets/css/lib/apexcharts.css");
@import url("~/public/assets/css/lib/dataTables.min.css");
@import url("~/public/assets/css/lib/dataTables.min.css");
@import url("/assets/css/lib/editor-katex.min.css");
@import url("~/public/assets/css/lib/editor.atom-one-dark.min.css");
@import url("~/public/assets/css/lib/editor.quill.snow.css");
@import url("~/public/assets/css/lib/flatpickr.min.css");
@import url("~/public/assets/css/lib/full-calendar.css");
@import url("~/public/assets/css/lib/jquery-jvectormap-2.0.5.css");
@import url("~/public/assets/css/lib/magnific-popup.css");
@import url("~/public/assets/css/lib/slick.css");
@import url("~/public/assets/css/lib/prism.css");
@import url("~/public/assets/css/lib/file-upload.css");
@import url("~/public/assets/css/lib/audioplayer.css");
@import url("~/public/assets/css/lib/animate.min.css");
@import url("~/public/assets/css/style.css");
@import url("~/public/assets/css/extra.css");

/* Toast Notification Custom Styles */
.Toastify__toast--error {
  background-color: #dc3545 !important;
  color: #fff !important;
  border-left: 4px solid #c82333 !important;
}

.Toastify__toast--error .Toastify__toast-icon {
  color: #fff !important;
}

.Toastify__toast--error .Toastify__close-button {
  color: #fff !important;
  opacity: 0.8;
}

.Toastify__toast--error .Toastify__close-button:hover {
  opacity: 1;
}

.Toastify__toast--success {
  background-color: #16a34a !important;
  color: #fff !important;
  border-left: 4px solid #16a34a !important;
}

.Toastify__toast--success .Toastify__toast-icon {
  color: #fff !important;
}

.Toastify__toast--success .Toastify__close-button {
  color: #fff !important;
  opacity: 0.8;
}

.Toastify__toast--success .Toastify__close-button:hover {
  opacity: 1;
}